
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../assets/bg.png') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

.main-card{
  width:400px;
  max-width:90vw;
  padding:40px;
  border-radius:20px;
  background:rgba(255,255,255,0.08);
  backdrop-filter:blur(20px);
  text-align:center;
  border:2px solid #7ef9ff;
}

textarea{
  width:100%;
  height:120px;
  padding:10px;
  border-radius:10px;
  margin-bottom:10px;
}

button{
  padding:12px 20px;
  border-radius:30px;
  border:none;
  background:linear-gradient(90deg,#7ef9ff,#916eff);
  font-weight:600;
  cursor:pointer;
}

h1{color:#7ef9ff;}
